.link {
    font-weight: 700;
}

.arriba {
    background: linear-gradient(90deg, #bfa76bc0 0%, #e0c97ac0 50%, #bfa76bc0 100%);
    /* Para que el logo no se vea transparente, asegúrate de que el área del logo no tenga opacidad o fondo semitransparente.
       Si el logo está dentro de .arriba, puedes agregar una clase específica al logo y darle un fondo sólido: */
    .logo {
        background: none;
        opacity: 1;
    }
    box-shadow: 0 1px 8px 0 rgba(80, 60, 20, 0.08);
    color: #fff;
    background-color: rgba(53, 64, 82, 0.8);

}

/* header {
    transition: all 0.5s ease;
}

.active {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: var(--primary-color2);
}

.blur-header {
    box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(20px);
    background-color: rgba(53, 64, 82, 0.447);
    z-index: 10;

}
 */
