h1 {
    font-size: 5rem;

    @media (max-width: 600px) {
        font-size: 3rem;
    }

    @media (max-width: 400px) {
        font-size: 2rem;
    }
}

.gold {
    color: #bfa76b; /* Gold color */
    font-weight: semibold;
}
